MarkMpn.XmlSchemaAutocomplete.Tests/Root.xsd

<?xml version="1.0" encoding="utf-16"?><xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">  <xs:element name="MyDoc" nillable="true" type="Root" />  <xs:complexType name="Root">    <xs:sequence>      <xs:element minOccurs="0" maxOccurs="1" name="Members" type="ArrayOfChoice1" />      <xs:element minOccurs="0" maxOccurs="unbounded" name="Staff" type="Person" />    </xs:sequence>  </xs:complexType>  <xs:complexType name="ArrayOfChoice1">    <xs:choice minOccurs="0" maxOccurs="unbounded">      <xs:element minOccurs="1" maxOccurs="1" name="p" nillable="true" type="Person" />      <xs:element minOccurs="1" maxOccurs="1" name="c" nillable="true" type="Child" />    </xs:choice>  </xs:complexType>  <xs:complexType name="Person">    <xs:sequence>      <xs:element minOccurs="0" maxOccurs="1" name="forename" type="xs:string" />      <xs:element minOccurs="1" maxOccurs="1" name="Age" type="xs:int" />    </xs:sequence>    <xs:attribute name="surname" type="xs:string" />  </xs:complexType>  <xs:complexType name="Child">    <xs:complexContent mixed="false">      <xs:extension base="Person">        <xs:sequence>          <xs:element minOccurs="0" maxOccurs="1" name="FavouriteToy" type="xs:string" />        </xs:sequence>      </xs:extension>    </xs:complexContent>  </xs:complexType></xs:schema>